@import "media";
@import "mixins";

.page {
  background-color: var(--white);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: 400;
  color: var(--black);
  min-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: clip;
  position: relative;
  line-height: 1.2;
}

.page-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1 {
  @include fluid-text();
}

.h2 {
  @include fluid-text();
  max-width: 380px;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.04em;
  color: var(--blue);
}

.container {
  max-width: calc(var(--container-width) + (var(--container-padding-y) * 2));
  width: 100%;
  padding-inline: var(--container-padding-y);
  margin-inline: auto;
  position: relative;
}

.stop-scroll {
  overflow-y: hidden;
}

// section {
//   scroll-margin-top: 250px;
// }
