$desktop-above: 1921px;
$desktop: 1680px;

$laptop-above: 1441px;
$laptop: 1440px;

$laptop-bottom-above: 1281px;
$laptop-bottom: 1280px;

$tablet: 1024px;
$tablet-above: 1023px;

$tablet-bottom: 800px;
$tablet-bottom-above: 760px;

$mobile-above: 601px;
$mobile: 600px;
$mobile-bottom: 440px;

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin laptop-above {
  @media (min-width: $laptop-above) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin laptop-bottom-above {
  @media (min-width: $laptop-bottom-above) {
    @content;
  }
}

@mixin laptop-bottom {
  @media (max-width: $laptop-bottom) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-bottom {
  @media (max-width: $tablet-bottom) {
    @content;
  }
}

@mixin tablet-bottom-above {
  @media (min-width: $tablet-bottom-above) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-bottom {
  @media (max-width: $mobile-bottom) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
