@import '@/assets/styles/media.scss';

:root {
  // color
  --black: #242527;
  --grey-100: #f3f3f3;
  --grey-200: #9f9e9e;
  --grey-300: rgba(0, 0, 0, 0.4);
  --blue-0: #f2f7fc;
  --blue-100: #e9eff4;
  --blue-200: #d2dce6;
  --blue-300: #adb7c1;
  --blue: #1c71b7;
  --white-0: rgba(255, 255, 255, 0.2);
  --white-100: rgba(255, 255, 255, 0.6);
  --white: #fff;
  --orange: #ff6f39;
  --green: #59c167;
  --red: #ec4747;

  // text
  --font-size-body: 16px;
  --font-family: 'Inter', sans-serif;

  // border-radius
  --br-btn: 10px;
  --br-block: 16px;

  // margin, padding, width
  --container-padding-y: 40px;
  --section-offset: clamp(80px, 8.5vw, 160px);
  --container-width: 1720px;

  @include desktop {
    --container-width: 1520px;
    --font-size-body: 14px;
  }

  @include laptop {
    --container-width: 1320px;
    --br-block: 14px;
  }

  @include laptop-bottom {
    --container-padding-y: 16px;
    --container-width: 1160px;
    --font-size-body: 12px;
  }

  @include tablet {
    --container-width: 944px;
    --br-block: 12px;
    --br-btn: 8px;
  }

  @include tablet-bottom {
    --container-width: 708px;
  }

  @include mobile {
    --font-size-body: 12px;
    --container-width: 100%;
    --br-btn: 6px;
  }
}